
.header{
  background-color: aquamarine;
  grid-area: header;
}
.body{
  background-color: blueviolet;
  grid-area: body;
}
.footer{
  grid-area: footer;
  background-color: blanchedalmond;
}


.allPage{
  width: 100vw;
  height: 100vh;
  display: grid;
  gap: 2px;
  grid-template-areas:
  'header header header header header header'
  'sideBar body body body body body'
  'sideBar body body body body body'
  'sideBar body body body body body'
  'footer footer footer footer footer footer';
  grid-template-rows: 10% 70% 10%;
  grid-template-columns: 20%;
}